<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="ripgrep" version="14.1.0"/>
	<package id="fd" version="10.2.0"/>
	<package id="discord" version="1.0.9171"/>
	<package id="aimp" version="5.30.2563"/>
	<package id="neovim" version="0.10.2"/>
	<package id="vscode" version="1.95.3"/>
	<package id="k-litecodecpack-standard" version="18.6.5"/>
	<package id="office365business" version="18129.20030"/>
	<package id="zoom" version="6.2.11.50939"/>
	<package id="python3" version="3.12.6"/>
	<package id="7zip.install" version="24.8.0"/>
	<package id="notepadplusplus.install" version="8.7.1.20241108"/>
	<package id="teamviewer" version="15.59.5"/>
	<package id="git.install" version="2.47.1"/>
	<package id="nodejs.install" version="23.3.0"/>
	<package id="jre8" version="8.0.431"/>
	<package id="microsoft-windows-terminal" version="1.21.3231"/>
	<package id="nvidia-display-driver" version="566.14.0"/>
	<package id="powershell-core" version="7.4.6.20241029"/>
	<package id="powertoys" version="0.86.0"/>
	<package id="mingw" version="13.2.0"/>
	<package id="everythingpowertoys" version="0.86.0"/>
</packages>